/*--[Mobile styles under here]------------------------------------------------------------------------------*/

@media only screen and (max-width: 800px){
  * { margin: 0; padding: 0; }

  body {
    background: url(MBackground.jpg) center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #page-wrap { width: 95%; margin: 0px auto; margin-top: 20px; margin-bottom: 10px; padding: 0; border: 1px solid yellow;
    background: url(MMain.jpg); background-size: 120%; overflow: hidden;}

  #page-wrap.NYC { width: 95%; margin: 0px auto; margin-bottom: 40px; padding: 0; border: 1px solid lightgreen;
    background: url(Mbeach.jpeg); background-size: 100%;  overflow: hidden;}

  #page-wrap.UB { width: 95%; margin: 0px auto; margin-top: 250px; padding: 0; border: 1px solid white;
    background: url(UB.jpg); background-size: 100%; overflow: hidden;}

  #page-wrap.Versus { width: 95%; margin: 0px auto; margin-top: 40px; margin-bottom: 120px; padding: 0; border: 1px solid yellow;
    background: url(Versus.jpg); background-size: 60%; overflow: hidden;}


  img.profile_photo { display: block; margin: 0px auto; border: 5px solid #00FFFF; }
  img.icons { display: block; margin: 0px auto; }
  img.UB:hover {filter: opacity(.75); filter: saturate(1.5);}

  div.Switcher { width: 100%; margin: 0 auto;  }

  div.containerProfile { float: center; margin: 0 auto; }

  div.containerMain { float: center; width: 35%; margin: 0 auto; align-content: center; }

  div.Contact {width: 100%; margin-top: 5px; padding-left: 30px; border: 4px solid darkgrey; background-color: black }
  ul.Contact { margin-left: 30px; color: white; list-style-type: circle; padding: 0; background-color: black}
  ul.contact > li { color: white; }
  ul.Contact li { float left; }
  ul.contact li a { margin-left: 0px; color: white; display: block; text-align: left; }
  ul.contact li ul { margin-left: 20px; }

  h1 { display: block; font: 20px auto Georgia, Serif; margin: 0px 0 10px 0; background: rgba(255, 255, 255, 0.5); text-align: center; }
  h2 { font: 19px auto Georgia, Serif; margin: 0px 0 0px 0; margin-bottom: 10px; margin-left: 0px; margin-right: 50px; }
  h2.extra { margin-bottom: 10px; }
  h5 {font-size: 20px; display: block; color: white; background-color: black; text-align: left;}
  h8 {font-size: 16px; }

  p  { font-size: 10px; margin: 0px 0 -10px 0; margin-left: 0px; }

  ul.article1 { font-size: 50%; text-decoration: none; text-align: left; margin-left: 20px; background: rgba(255,255,255,0.25)}
  ul.article1 li { background: rgba(255,255,255,0.25);}
  ul.article1 li ul { margin-left: 5px;}
  ul.article2 { font-size: 50%; text-decoration: none; text-align: left; margin-left: 20px; background: rgba(255,255,255,0.25)}
  ul.article2 li { background: rgba(255,255,255,0.25);}
  ul.article2 li ul { margin-left: 5px;}

  div.containerT { width: 100%;  border-bottom: 4px solid darkgray; }

  div.containerC { float: center; width: 20%; margin-top: 0px; margin: 0 auto; padding-bottom: 10px; padding-right: 10px; border: 5px solid red; background: rgba(255,255,255,.35)}

  div.containception { width: 100%; align-content: center; }

  header.Top, footer.Top { font-size: 10px; text-align: center; border-top: 10px solid black; border-bottom: 5px solid darkgrey; background-color: black; color: white; }

  ul.Top { font-size: 6px; list-style-type: none; margin: 0; padding: 2px; padding-left: 2px; overflow: hidden; background-color: black; }
  ul.Top li { float: left; }
  ul.Top li a { display: block; color: white; text-align: left; margin-left: 2px; border-left: 1px solid darkgrey; border-right: 1px solid darkgrey; padding: 0; text-decoration: none; }
  ul.Top li a:hover { background-color: #25383C; filter: opacity(0.5); }

  div.containerH { width: 100%; margin-top: 5px;  border: 4px solid darkgray; }

  header.horiz, footer.horiz { font-size: 20px; text-align: center; border-top: 10px solid black; background-color: black; color: white; }

  ul.horiz { font-size: 16.2px; list-style-type: none; margin-top: -20%; margin: 0; padding: 0; overflow: hidden; background-color: black; }
  ul.horiz li { float: left; }
  ul.horiz li a { display: block; color: white; text-align: center; margin-left: 1px; border-left: 1px solid darkgrey; border-right: 1px solid darkgrey; padding: 2px 2px; text-decoration: none; }
  ul.horiz li a:hover { background-color: #25383C; filter: opacity(0.5); }

  nav{ float: left; max-width: 20%; height: 100%; margin: 0; margin-top: 0px; border-top: 0; border-bottom: 2px solid silver; border-right: 2px solid silver; background: black; overflow:hidden; }
  nav h3{ display: block;  font-size: 50%; list-style-type: none; text-decoration: none; margin-bottom: 0px; text-align: center; border-top: 10px solid black; background-color: black; color: white; }
  nav h3:hover { background-color: black; filter: opacity(1); }
  nav ul { list-style-type: none; padding: 0; }
  nav ul.blank { display: block; font-size: 40%; margin-bottom: 0px; list-style-type: none; text-decoration: none; text-align: center; border-top: 5px solid black; background-color: black; color: black; }
  nav ul a { display: block; font-size: 40%; margin-bottom: 0px; list-style-type: none; text-decoration: none; text-align: center; border-top: 10px solid black; background-color: black; color: white; }
  nav ul a:hover { background-color: #25383C; filter: opacity(0.5); }

  article { width: 80% auto; margin-left: 20%; margin-top: 0px; border-left: 0; border-top: 0; padding: 1em; overflow: hidden; background: rgba(255,255,255,.45) }

  footer { font-size: 12px; text-align: center; border-top: 10px solid white; background-color: black; color: white;  }

  .right{ float: none; margin-top: 5%; margin-bottom: -10%; }

  .left { text-align: center; font-size: 150%; color: white; float: left; width: 15%; height:50%; margin-top: 0; border: 5px solid orange; background: rgba(0, 0, 0, .55); padding: 0px; }
  .left img:hover{ opacity: 0.5; filter: alpha(opacity=50); }

  .scroll { font-size: 85%; width: 25%; height:50%; margin-top: 250px; border: 5px solid black; background: rgba(255, 255, 255, .45); padding: 0px; }
  .scroll ul li a { display: block; }

  img.thanks { max-width: 100%; max-height: 100%; }
  img.thanks:hover{ filter: saturate(1.5); filter: invert(.35); }
  .thanks { float: right; width: 80px; height: 80px; margin-left: 80px; margin-bottom: -65px;}


}

/*--[normal CSS styles]----------------------------------------------------------------*/

@media only screen and (min-width: 801px){
* { margin: 0; padding: 0; }

body {
background: url(Background.jpg) center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; }

#page-wrap { width: 70%; margin: 20px auto; margin-bottom: 10px; padding: 10px; border: 4px solid yellow;
  background: url(Main.jpg); background-size: 120%; -moz-box-shadow: 0 0 40px gold;
  -webkit-box-shadow: 0 0 40px gold; box-shadow: 0 0 40px gold; overflow: hidden;}

#page-wrap.NYC { width: 70%; margin: 100px auto; margin-bottom: 60px; padding: 10px; border: 4px solid lightgreen;
  background: url(beach.jpg); background-size: 100%; -moz-box-shadow: 0 0 60px lightblue;
  -webkit-box-shadow: 0 0 60px lightblue; box-shadow: 0 0 60px lightblue; overflow: hidden;}

#page-wrap.UB { width: 70%; margin: 100px auto; margin-top: 850px; padding: 10px; border: 4px solid white;
  background: url(UB.jpg); background-size: 100%; -moz-box-shadow: 0 0 40px royalblue;
  -webkit-box-shadow: 0 0 40px royalblue; box-shadow: 0 0 40px royalblue; overflow: hidden;}

#page-wrap.Versus { width: 70%; margin: 100px auto; margin-top: 70px; margin-bottom: 200px; padding: 10px; border: 4px solid yellow;
  background: url(Versus.jpg); background-size: 60%; -moz-box-shadow: 0 0 40px gold;
  -webkit-box-shadow: 0 0 40px gold; box-shadow: 0 0 40px gold; overflow: hidden;}

img.profile_photo { display: block; margin: 0px auto; border: 5px solid #00FFFF; }
img.icons { display: block; margin: 0px auto; }
img.UB:hover {filter: opacity(.75); filter: saturate(1.5);}

div.Switcher{ width: 100%; margin: 0 auto; }

div.containerProfile { float: center; margin: 0 auto; }

div.containerMain { float: center; width: 35%; margin: 0 auto; align-content: center; }

div.Contact {width: 50%; margin-top: 40px; padding-left: 30px; border: 4px solid darkgrey; background-color: black }
ul.Contact { margin-left: 30px; color: white; list-style-type: circle; padding: 0; background-color: black}
ul.contact > li { color: white; }
ul.Contact li { float left; }
ul.contact li a { margin-left: 0px; color: white; display: block; text-align: left; }
ul.contact li ul { margin-left: 20px; }

h1 { display: block; font: 70px auto Georgia, Serif; margin: 0px 0 10px 0; background: rgba(255, 255, 255, 0.5); text-align: center; }
h2 { font: 35px/2 auto Georgia, Serif; margin: 0px 0 0px 0; margin-top: 30px; margin-left: 0px; }
h2.extra { margin-top: 40px; }
h5 {font-size: 30px; display: block; color: white; background-color: black; text-align: left;}

p  { font-size: 25px; margin: 0px 0 -10px 0; margin-left: 25px; }

ul.article1 { font-size: 190%; text-decoration: none; text-align: left; margin-left: 20px; background: rgba(255,255,255,0.25)}
ul.article1 li { background: rgba(255,255,255,0.25);}
ul.article1 li ul { margin-left: 10px;}
ul.article2 { font-size: 150%; text-decoration: none; text-align: left; margin-left: 20px; background: rgba(255,255,255,0.25)}
ul.article2 li { background: rgba(255,255,255,0.25);}
ul.article2 li ul { margin-left: 10px;}

div.containerT { width: 100%;  border-bottom: 4px solid darkgray; }

div.containerC { float: center; width: 20%; margin-top: 0px; margin: 0 auto; padding-bottom: 10px; border: 5px solid red; background: rgba(255,255,255,.35)}

div.containception { width: 100%; align-content: center; }

header.Top, footer.Top { font-size: 40px; text-align: center; border-top: 10px solid black; border-bottom: 5px solid darkgrey; background-color: black; color: white; }

ul.Top { font-size: 30px; list-style-type: none; margin: 0; padding: 30px; padding-left: 50px; overflow: hidden; background-color: black; }
ul.Top li { float: left; }
ul.Top li a { display: block; color: white; text-align: left; margin-left: 40px; border-left: 4px solid darkgrey; border-right: 4px solid darkgrey; padding: 0; text-decoration: none; }
ul.Top li a:hover { background-color: #25383C; filter: opacity(0.5); }

div.containerH { width: 100%; margin-top: 40px;  border: 4px solid darkgray; }

header.horiz, footer.horiz { font-size: 40px; text-align: center; border-top: 10px solid black; background-color: black; color: white; }

ul.horiz { font-size: 30px; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: black; }
ul.horiz li { float: left; }
ul.horiz li a { display: block; color: white; text-align: center; margin-left: 25px; border-left: 4px solid darkgrey; border-right: 4px solid darkgrey; padding: 14px 16px; text-decoration: none; }
ul.horiz li a:hover { background-color: #25383C; filter: opacity(0.5); }

nav{ float: left; max-width: 15%; height: 100%; margin: 0; margin-top: 0px; border-top: 0; border-bottom: 2px solid silver; border-right: 2px solid silver; background: black; overflow:hidden; }
nav h3{ display: block;  font-size: 170%; list-style-type: none; text-decoration: none; margin-bottom: 0px; text-align: center; border-top: 10px solid black; background-color: black; color: white; }
nav h3:hover { background-color: black; filter: opacity(1); }
nav ul { list-style-type: none; padding: 0; }
nav ul.blank { display: block; font-size: 250%; margin-bottom: 0px; list-style-type: none; text-decoration: none; text-align: center; border-top: 10px solid black; background-color: black; color: black; }
nav ul a { display: block; font-size: 140%; margin-bottom: 0px; list-style-type: none; text-decoration: none; text-align: center; border-top: 10px solid black; background-color: black; color: white; }
nav ul a:hover { background-color: #25383C; filter: opacity(0.5); }

article { width: 80% auto; margin-left: 15%; margin-top: 0px; margin-right: 30%; border-left: 0; border-top: 0; padding: 1em; overflow: hidden; background: rgba(255,255,255,.45) }

footer { font-size: 20px; text-align: center; border-top: 10px solid white; background-color: black; color: white;  }

.right{ float: right; width: 35%; height: 730px; margin-bottom: 20px; border: 5px solid green; background: rgba(0, 0, 0, .85); padding: 10px; }

.left { text-align: center; font-size: 150%; color: white; float: left; width: 20%; height:50%; margin-top: 20px; border: 5px solid orange; background: rgba(0, 0, 0, .55); padding: 0px; }
.left img:hover{ opacity: 0.5; filter: alpha(opacity=50); }

.scroll {  width: 10%; height:50%; margin-top: 250px; border: 5px solid black; background: rgba(0, 0, 0, .25); padding: 0px; }
.scroll ul li a { display: block; }

div.thanks { float: right; width: 25%; height: 0px; margin-top: 30px; margin-left: 20px;}
img.thanks:hover{ filter: saturate(1.5); filter: invert(.35); }