/*--[Mobile styles under here]------------------------------------------------------------------------------*/

@media only screen and (max-width: 800px){
  * { margin: 0; padding: 0; }

  body,html {
    background:url("background.png") center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.picture {display: block; margin: 0px auto;border 5px}

/*--[normal CSS styles]----------------------------------------------------------------*/

@media only screen and (min-width: 801px){
* { margin: 0; padding: 0; }

body {
background: url("background.png") center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; }
